
  <div class="card mt-5">
    <div class="card-header">
      <p>
        <a href="/api/posts/{{id}}" class="text-decoration-none"><strong
          >{{post.title}}</strong></a>
        posted by
        {{post.user.username}}
        on
        {{formatDate post.createdAt}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{post.body}}
      </p>
    </div>

  </div>



  <script src="/js/single-post.js"></script>